{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
body {
  font-family: Helvetica; 
  background: url({% static 'images/heart4.jpg' %})40%25%;
  background-size:cover;
  
}
h1{
    color: white;
}
table{
    height: 300px;
    width: 700px;
    padding: 10px;
    margin: 10px;
    position: relative;
    
}

.a{
    width: 200%;
    height: 75%;
    border-radius: 4px;
    border-color: black;
    background-color: #ffffffdb;
    position: relative;
    text-align: center;
    left: 70%;
}

.b{
    width: 100%;
    height: 75%;
    text-align: center;
    background-color: #ffffffdb;
    position: relative;
    border-radius: 4px;
    border-color: black;
    left: 50%;
    
}
</style>
</head>
<h1><center>HEART DISEASE PREDICTION</center></h1>
<br>
<body>

<table>
<tr>
<td colspan="2">
<div class="a">
<br>
<h2><a href="/login">Login</a></h2><br>
<h2><a href="/signup">Signup</a></h2><br><br>
</div>
</td>
<td>
<div class="b">
<h3 align = center><p>It is only with the heart that one can see rightly;</p>
<p>what is essential is invisible to the eye.</p><p> – Antoine de Saint-Exupery</p></h3>
</div>
</td>
</tr>
</table>
{% endblock %}